h1{
    color:goldenrod;
}
body{
    text-align: center;
    background-image: url("https://www.shutterstock.com/image-photo/grunge-background-poker-cloth-260nw-34475212.jpg");
    background-size:cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    font-weight: bold;
    
}
#start{
    background: goldenrod;
    width: 150px;
    color: #016f32;
    border: none;
    padding: 5px;
    border-radius: 2px;
    font-weight: bold;
}
#newgame{
    background: goldenrod;
    width: 150px;
    color: #016f32;
    border: none;
    padding: 5px;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 5px;
}
#divc{
    display: block;
}